<!DOCTYPE html>
<html>
  <head>
    <title>musubun</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= include_gon %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" type="image/x-icon" href="enmusubi.png">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
