<!DOCTYPE html>
<html>
  <head>
    <title>musubun</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= include_gon %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" type="image/x-icon" href="enmusubi.png">
    <meta name="google-site-verification" content="7QBj1RirqxJ9g4PvnX1Q5gbUlQ6Vc6rjcO276p3tfV0" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
